.list {
  list-style: none;
  /* скидання відступів у списках*/
  padding: 0;
  margin: 0;
}

.link {
  color: inherit;
  text-decoration: none;
}

.line {
  border-bottom: 1px solid #ececec;
}

.header-conteiner {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  font-family: var(--second-font);
  color: var(--accent-text-color);
  text-decoration: none;
}

.studio {
  color: var(--main-text-color);
}

/* навігація */
.nav {
  margin-left: 93px;
}

.list--site__nav {
  display: flex;

  & .item--nav:not(:last-child) {
    margin-right: var(--margin);
  }

  & .link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    /*силка блочна та з внутрішніми відступами*/
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

/* підкреслення */
.dash {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    margin-top: 28px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-text-color);
    transition: transform var(--timing-function);
  }

  &::after {
    transform: scale(0);
  }

  &:hover::after,
  &:focus::after {
    transform: scale(1);
  }
}

.current::after {
  transform: scale(1);
}

/* контакти */
.contact-header {
  display: flex;
  align-items: center;
  margin-left: auto;

  & .item--nav + .item--nav {
    margin-left: var(--margin);
  }
}

.current {
  color: var(--accent-text-color);
  transition: color var(--timing-function);
}

.link {
  transition: color var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.calm {
  display: flex;
  align-items: center;
  padding: 0;
  color: var(--icon-color);
  background-color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--additional-text-color);
  transition: color var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.contact-icon {
  fill: currentColor;
  margin-right: 10px;
}
