/* портфоліо */
.btn-portfolio {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.btn-portfolio > .btn-portfolio-item + .btn-portfolio-item {
  margin-left: 8px;
}

.portfolio-button {
  background-color: var(--button-color);
  border: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  transition: background-color var(--timing-function),
    color var(--timing-function), box-shadow var(--timing-function);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--title-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.link-work {
  display: flex;
  transition-property: box-shadow var(--timing-function);
}

.examples {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.picture-item {
  display: flex;
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.link-work:hover,
.link-work:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-thumb {
  display: flex;
  flex-direction: column;
}

.work-information {
  flex-grow: 1;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portf-link-title {
  margin-bottom: 4px;
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portf-link-text {
  margin-bottom: 0;
  color: var(--additional-text-color);
  font-size: 16px;
  line-height: 1.8;
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform var(--timing-function), opacity var(--timing-function);
}

.product-text {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding: 63px 24px;
}

.example-thumb:hover .product-overlay {
  transform: translateY(0);
  opacity: 1;
}

.example-thumb:hover,
:focus .product-overlay {
  transform: translateY(0);
  opacity: 1;
}
